<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!-- Navigation -->
<a href="/logout">Log Out</a>

<!-- Page Content -->
<div class="container">
    <div class="jumbotron">
        <h1>Financiable</h1>
        <h3>Dashboard</h3>
        <hr>
    </div>
    {{#each User}}
    <h1>{{this.id}}</h1>
    {{/each}}

    <form action="/dashboard/{{User.id}}/{{User.Budgets.[0].month}}/edit" method="GET">
        <button type="submit" class="btn btn-primary btn-md"> Edit </button>
    </form>

    <form action="/{{User.id}}/add" method="GET">
        <button type="submit" class="btn btn-primary btn-md"> Add </button>
    </form>




</div>