


<!-- Page Content -->
<div class="container">

    <!-- Full Page Image Background Carousel Header -->
    <div class="jumbotron">
        <h1>Financiable</h1>
    </div>

    <div class="row">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>  </strong></h3>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>You Have Failed to Connect</strong></h3>
                    <form action="/" method="get">
                        <button type="try again" class="btn btn-primary btn-md" id="add-btn">Try Again</button>
                    </form>
                </div>

                </div>

        </div>
    </div>
</div>


