
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" action="/login" method="POST">
                <div class="form-group">
                    <input type="text" placeholder="username" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-success">Login</button>
            </form>

            <form class="navbar-form navbar-right2" action="/create" method="GET">
                <button type="submit" class="btn btn-success">Register</button>
            </form>


        </div>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>We all know that keeping your budget balanced can not only help you stay on track financially, but can also reduce your stress.
        </h1>
        <br>
        <br>
        <p>Financiable makes balancing your budget and maintaining your long-term financial health easier. Get rid of those pesky folders in old filing cabinets while enhancing your financial strategies.
        </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->


    <hr>

    <footer>
        <p>&copy; 2017 Financiable, Inc.</p>
    </footer>
</div> <!-- /container -->
